body {
    font-family: Arial;
    line-height: 1.4;
    color: #282828;
    background: #fefae0;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background: #faedcd;
    width: 960px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #d4a373;
}

h1 {
    font-weight: 500;
    font-size: 1.8rem;
}


button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 2.5rem;
    border: none;
    background: #d4a373;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

li {
    list-style: none;
    padding: 0.2rem 0;
}

.jokes-container {
    background: #fffdf5;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
}